img {
    height: 200px;
    max-width: 500px;
}

.liImagens {
    display: flex;
}

.imagens {
    padding: 0 1rem;
}

thead th {
    background-color: brown;
}

td {
    border: solid #0000 1px;
    padding: 5px 20px;
}

body {
    background-color: bisque;

}

h1 {
    font-family: Georgia;
    color: #8b0000;
}

h3{
    font-family: Georgia;
    color: #8b0000;
}

footer{
    margin-top: 30px;
}