body {
    background-color: #eff0d5;
    color: white;
}
.divmaxima {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}
.item{
    background-color: #e0e0b6;
    width: 900px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.item:hover {
   cursor: pointer;
    transform: scale(1.1); 
    background-color: #bbbb98;
}

.tituloimagem {
    color: #171430;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size:xx-large;
}

.tituloprincipal {
    text-align: center;
    font-size: 300%;
    color: #171430;
    font-family: 'Dancing Script';
}

.divmaxima2 {
    display: flex;
}
