body {
    background-color: #eff0d5;
    margin: 40px;
}

.divmaxima {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}

.item {
    background-color: #e0e0b6;
    width: 900px;
    border-radius: 10px;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px);
    transition: transform 0.3s ease;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    padding-bottom: 50px;
    transition: transform 0.5s ease;
}

img:hover{
    transform: scale(1.1);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #bbbb98;
}

.tituloimagem {
    color: #171430;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.tituloprincipal {
    text-align: center;
    font-size: 300%;
    color: #171430;
    font-family: 'Dancing Script';
}